.column {
  border: 1px dotted rgba(255, 192, 203, 0.9);
}

$columns: 12;

.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

@while $columns > 0 {
  .column-#{$columns} {
    grid-column-start: auto;
    grid-column-end: span $columns;
  }

  $columns: $columns - 1;
}
